body {
	border: double;
	margin: 0.5cm;
	background-color: #ffffe6;
	background-image: url("flo1.png"), url("flo.png"), url("yey2.png"), url("yey3.png");
	background-position: right top, left top, left bottom, right bottom;
	background-repeat: no-repeat, no-repeat, no-repeat,no-repeat;
}
 h1 {
	font-family: Mona Lisa Solid;
	margin-top: 1.7cm;
	color: maroon;
	text-align: center;
	font-size: 50px;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
 img {
	margin-bottom: 1cm;
	border-radius: 50%;
	width : 300px;
	height : 300px;
}
 p {
	margin-left: 1cm;
	margin-right: 1cm;
	font-family: Courier New;
	color: maroon;
	text-align: justify;
	text-indent: 1cm;
	font-size: 20px;
}
 ul {
	margin-left: 1cm;
	margin-right: 1cm;
	font-family: Courier New;
	color: maroon;
	text-indent: 0.5cm;
	font-size: 20px;
}